.fonts{font-family: 'jameel noori nastaleeq';}


.bigbox{background-color: rgb(173, 150, 226); height: 500px;}
.center{text-align: center;}
.color{color: blue black; background-color: blueviolet;}
.button{ font-size: 50px;
    background-color: rgb(73, 219, 122);
    border-radius: 20px;
 }
.hover:hover{color:rgb(223, 17, 17); background:rgb(212, 241, 106);
    font-size:50px;
    height:60px;
    border-radius:50px;
    }
    .bigbox2{display: grid; grid-template-columns: 300px 300px 300px 300px;}


.smallbox{text-align: center;
     margin-top: 20px;
margin-left: 80px;
margin-right: 20px;
border-radius: 20px;

opacity: 0.7;
    background-color: rgb(13, 216, 252);
     height: 90px;} 
     
